
@model IEnumerable<Final_Project.Models.Mathematic>
@{
    ViewBag.Title = "Admin_View_Math";
}

<h2>Admin_View_Maths</h2>

<table>
    <tr>
        <td>
            Ma_id
        </td>
        <td>
            Movie Name
        </td>

    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Ma_id</td>
            <td>
            <td><a href="@s.Ma_file" id="btn" @*data-id="@s.M_Id" data-toggle="modal" data-target=".bs-example-modal-sm" class="my"*@>@s.Ma_file</a></td>


            <td>
                <a href="/adminNew/DeleteMaths/@s.Ma_id">Delete</a>
                @*<a href="/adminNew/UpdateImage/@s.M_id">Update</a>*@
            </td>
        </tr>
    }
</table>
