

@{
    ViewBag.Title = "UploadData";
}

<head>
    <title></title>
    <style>
        .te
        {
            width:335px;
        }
        .p1{
            color:white;
        }
        .div2{
            padding-left:100px;
            padding-top:150px;
        }
        .div3{
            padding-left: 100px;
            padding-top: 20px;
        }
    </style>
</head>
<div class="div2">
    <h3>Movies</h3>
    <form action="/UploadData/Upload" method="post" enctype="multipart/form-data">

        <input type="file" name="movie" />
        <input type="submit" value="Upload" />
    </form>
    <h3>View Current Movies</h3><a href="/AdminNew/Admin_View_Movies">Load Movies</a>
</div>
<hr/>
<div class="div3">
    <h3>Images</h3>
    <form action="/UploadData/UploadImages" method="post" enctype="multipart/form-data">

        <input type="file" name="Image" />
        <input type="submit" value="Upload" />
    </form>
    <h3>View Current Gallery Images</h3><a href="/AdminNew/Admin_View_Images">Load Images</a>
    <hr />
    </div>
<hr/>

<div class="div3">
    <h3>English</h3>
    <form action="/UploadData/UploadEnglish" method="post" enctype="multipart/form-data">
        File Name
        <div class="te">
            <input type="text" name="name" />
        </div>
        <input type="file" name="Image" />
        <input type="submit" value="Upload" />
    </form>
    <h3>View Current English Onjects</h3><a href="/AdminNew/Admin_View_English">Load English Objects</a>
    <hr />
</div>
<hr />

<div class="div3">
    <h3>Arts</h3>
    <form action="/UploadData/UploadArts" method="post" enctype="multipart/form-data">
        File Name
        <div class="te">
            <input type="text" name="name" />
        </div>
        <input type="file" name="Image" />
        <input type="submit" value="Upload" />
    </form>
    <h3>View Current Arts Onjects</h3><a href="/AdminNew/Admin_View_Arts">Load Art Objects</a>
    <hr />
</div>
<hr />

<div class="div3">
    <h3>General Knowledge</h3>
    <form action="/UploadData/UploadGK" method="post" enctype="multipart/form-data">
        File Name
        <div class="te">
            <input type="text" name="name" />
        </div>
        <input type="file" name="Image" />
        <input type="submit" value="Upload" />
    </form>
    <h3>View Current G.K Onjects</h3><a href="/AdminNew/Admin_View_GK">Load GK Objects</a>
    <hr />
</div>
<hr />
<div class="div3">
    <h3>Maths</h3>
    <form action="/UploadData/UploadMaths" method="post" enctype="multipart/form-data">
        File Name
        <div class="te">
            <input type="text" name="name" />
        </div>
        <input type="file" name="Image" />
        <input type="submit" value="Upload" />
    </form>
    <h3>View Current Maths Onjects</h3><a href="/AdminNew/Admin_View_Maths">Load Maths Objects</a>
    <hr />
</div>
<hr />

..
    @*<form action="/UploadData/Upload" method="post" enctype="multipart/form-data">
        <p class="p1">
            <input type="file" name="movie" />
            <input type="submit" value="Upload" />
        </p>
    </form>*@

    @*@foreach (var i in Model)
        {
             <img src="@i.Movie" height="300" width="275" alt="" />
        }*@
